<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include open_source.html %}
    {% include our_product.html %}
    {% comment %}
    {% include services.html %}
    {% include about_us.html %}
    {% endcomment %}
    {% include media.html %}
    {% comment %}
    {% include clients.html %}
    {% endcomment %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include media_modals.html %}
    {% include js.html %}

    </body>
</html>
